.progress-container {
    width: 20%;
    position: relative;
    bottom: 0;
    background-color: #f0f0f0;
    z-index: 0; /* Ensures it stays above other content */
  }
  
  .progress-bar {
    width: 0%; /* Initial width */
    height: 60px;
    background-color: #4caf50;
  }