.progress-container {
    width: 30%;
    position: relative;
    bottom: 0;
    background-color: #f0f0f0;
    z-index: 9999; /* Ensures it stays above other content */
  }
  
  .progress-bar {
    width: 0%; /* Initial width */
    height: 50px;
    background-color: #4caf50;
  }